input {
    color: #FFF;
}

header {
    background-color: var(--clr-primary);
    border-bottom: 1px solid #223040;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.header-container {
    padding: 15px;
    display: flex;
    justify-items: stretch;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.search {
    display: flex;
}

.icons-menu {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width: 200px;
    float: right;
    justify-items: end;
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.search > input {
    background-color: #223040;
    border: 1px solid #394656;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 700px;
}

.btn-dropdown {
    border-radius: 0;
    background-color: #223040;
    border: 1px solid #394656;
    height: 100%;
    font-weight: initial;
    width: max-content;
    padding: 10px;
}

.search > button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 10px 15px;
    height: 45px ;
}

.text-login, .text-login > a {
    color: #FFF;
}

.text-login > a {
    text-decoration: underline;
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
    .search > input {
        width: 400px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    .search > input {
        width: 250px;
    }
}

@media only screen and (min-width: 1100px) {

    .fa-bars {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {

    .fa-bars {
        display: inline;
        grid-area: menu;
        width: fit-content;
    }

    .header-container {
        display: grid;
        grid-template-areas:
        "logo icons"
        "search search";
        align-items: center;
        gap: 10px;
    }

    .logo {
        grid-area: logo;
    }

    .icons-menu {
        display: flex;
        grid-area: icons;
        width: auto;
        gap: 15px;
        justify-content: flex-end;
    }

    .profile-pic, .text-login {
        display: none;
    } 

    .search {
        grid-area: search;
    }

    .search > input {
        width: 100%;
    }

    .dropdown-containes {
        display: none;
    }
}