<header>
    <div class="header-container">
        <a href="/">
            <img class="logo" src="../../assets/amazon-logo-bianco.png">
        </a>
        <form class="search" [formGroup]="searchForm" (submit)="research()">
            <input type="search" placeholder="cerca i tuoi prodotti..." 
                    formControlName="keyword">
            <div class="dropdown-containes">
                <button class="btn-dropdown">Tutte le categorie</button>
            </div>
            <button>
                <i class="fa-light fa-magnifying-glass" style="color: #ffffff;"></i>
            </button>
        </form>
        <div class="icons-menu">
            <i class="fa-light fa-heart" style="color: #ffffff;"></i>
            <i class="fa-light fa-cart-shopping" style="color: #ffffff;"></i>
            <i class="fa-light fa-bell" style="color: #ffffff;"></i>
            <i (click)="toggleMenu()"
                class="fa-light fa-bars" style="color: #ffffff;"></i>
            <img  *ngIf="isUserloggedIn() == true" class="profile-pic" src="../../assets/user.png">
            <span *ngIf="isUserloggedIn() == false" class="text-login">
                Ciao, <a href="/login">accedi</a></span>
        </div>
    </div>
</header>
