<div id="categories" class="categories" (window:resize)="onResize()">
    <h3 class="categories-title">Categorie più visitate</h3>
    <button class="btn-top-categories btn-top-cat-left"
        [disabled]="translationX == 0" 
        [style]="translationX == 0 ? {opacity: 0.5} : {opacity: 1}"
        (click)="slideLeft()">
        <i class="fa-light fa-chevron-left fa-lg" style="color: #000000;" ></i>
    </button>
    <button class="btn-top-categories btn-top-cat-right"
        [disabled]="remainTranslatableWidth < singleTranslatation / 1.5" 
        [style]="remainTranslatableWidth < singleTranslatation / 1.5 ? {opacity: 0.5} : {opacity: 1}"
        (click)="slideRight()">
        <i class="fa-light fa-chevron-right fa-lg" style="color: #000000;"></i>
    </button>
    <div class="blur blur-left"></div>
    <ul id="categories-container" class="categories-buttons-container">
        <li *ngFor="let category of topCategories" #categoryItem>
            <i class="{{category.icon}}"></i>
            <span class="category-name">{{category.name.charAt(0).toUpperCase() + category.name.slice(1).toLowerCase().replaceAll("_", " ")}}</span>
        </li>
    </ul>
    <div class="blur blur-right"></div>
</div>
