.categories {
    max-width: 1200px;
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
        "title btn-left btn-right"
        "slider slider slider";
    grid-template-columns: 90% 5% 5%;
    position: relative;
}

.categories-title {
    grid-area: title;
}

.btn-top-cat-left {
    grid-area: btn-left;
}

.btn-top-cat-right {
    grid-area: btn-right;
}

.btn-top-categories {
    margin-right: 0px;
    padding: 7px 11px;
    background-color: #fff;
}

.categories-buttons-container {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    width: max-content;
    grid-area: slider;
    transition: 0.5s;
}

.categories-buttons-container > li {
    background: #fff;
    padding: 15px;
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.categories-buttons-container > li > i {
    font-size: 35px;
}

.category-name {
    font-size: 12px;
    text-align: center;
}

.blur {
    position: absolute;
    width: 40px;
    height: 145px;
    margin: 35px 0 0 0;
    z-index: 9;
}

.blur-left {
    background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, #f2f2f4 100%);
}

.blur-right {
    right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, #f2f2f4 100%);
}

@media only screen and (max-width: 800px) {
    .blur {
        height: 100px;
        margin: 35px 0 0 0;
    }

    .categories {
        grid-template-columns: 78% 11% 11%;
    }

    .categories-buttons-container {
        gap: 10px;
    }

    .categories-buttons-container > li {
        width: 60px;
        height: 60px;
        border-radius: 20px;
    }

    .btn-top-categories {
        padding: 2px 6px;
        background-color: transparent;
    }
}

@media only screen and (max-width: 800px) and (min-width: 550px) {
    .categories {
        grid-template-columns: 86% 7% 7%;
    }
}