app-header > header { top: 0; }

.search-container { 
    display: grid;
    grid-template-areas: "filters results";
    margin: 75px auto 0 auto;
    max-width: 1500px;
    grid-template-columns: 300px 1fr;
}

app-nav-options-filter { grid-area: filters; }

.results-list-container { grid-area: results; }