<div id="seach-page-container">
    <app-header 
        (productsToEmit)="products=$event"></app-header>
    <div class="search-container">
        <app-nav-options-filter></app-nav-options-filter>
        <ul class="results-list-container">
            <li *ngFor="let product of products">
                <p>{{product.title}}</p>
            </li>
        </ul>
    </div>
</div>
