<div class="login-container">
    <a class="logo-link" href="/">
        <img src="../../assets/amazon-logo.png" class="logo">
    </a>
    <h3 class="title">Bentornato :)</h3>
    <form [formGroup]="loginForm" (submit)="login()">
        <div class="login-form-input-container">
            <input id="email" type="email" formControlName="email" [(ngModel)]="user.email" placeholder="email">
            <input id="password" type="password" formControlName="password" [(ngModel)]="user.password" placeholder="password">
        </div>
        <div class="login-form-others-container">
            <span class="checkbox">
                <input type="checkbox"> Memorizza
            </span>
            <a>Recupera password</a>
        </div>
        <button [disabled]="!user.email || !user.password" 
                [style]="!user.email || !user.password ? 
                        {cursor: 'not-allowed', background: '#ff990196'} : 
                        {cursor: 'pointer'}"
                class="submit" type="submit">Accedi</button>
        <button class="registration" [routerLink]="['/registration']">
            Sei nuovo? Registrati qui    
        </button>
    </form>
    <small class="form-policy">Proseguendo accetti i <a>Termini e Condizioni</a> di Amazon</small>
</div>
