<!--    USER NOT LOGGED IN    -->
<div id="user-recommended">
    <div class="discount-products">
        <h3 class="recommended-title">In offerta</h3>
        <ul class="discount-products-list">
            <li class="discount-product-item" *ngFor="let product of topDiscountedProducts">
                <img class="products-discount-img" src="{{baseUrlImg}}/products{{product.imgPath}}">
            </li>
        </ul>
    </div>
    <div class="top-products">
        <h3 class="recommended-title">Top</h3>
        <ul class="top-prod-container">
            <li class="top-prod-item" *ngFor="let product of topSoldProducts">
                <img class="products-img" src="{{baseUrlImg}}/products{{product.imgPath}}">
            </li>
        </ul>
    </div>
    <div class="category-in-evidence">
        <!--cambiare mettendo in evidenza la categoria più cliccata-->
        <h3 class="recommended-title">Elettronica</h3>
        <div class="category-in-evidence-img"></div>
    </div>
    <div class="login-now-category-in-evidence-2">
        <div class="login-now-container">
            <h3 class="recommended-title login-now-title">Sei già cliente?</h3>
            <button class="login-now-button">
                Accedi ora
            </button>
        </div>
        <div class="category-in-evidence-img-2"></div>
    </div>
</div>

<!--    USER LOGGED IN    -->
<div>
    <!--<div>
        <h1>Appunti</h1>
        <p>fare sezione grid con 4 blocchi dinamici che cambiano se l'user è loggato:</p>
        <ul>
            <li>loggato:</li>
                <ol>
                    <li>se utente ha fatto ricerca mostra i primi 4 risultati della ricerca effettuata(Riprendi l'esplorazione) se no quello che c'è ora</li>
                    <li>Continua ad aquistare(prodotti che ho inserito in carrello o acquistati) se no quello che c'è ora</li>
                    <li>I tuoi preferiti se no quello che c'è ora</li>
                    <li>In offerta per te(della categoria preferita dall'utente più cliccata) se no quello che c'è ora</li>
                </ol>
        </ul>
    </div>-->
</div>