#user-recommended {
    display: grid;
    grid-template-areas: "discount top category evidence-2";
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1.3%;
}

.discount-products { grid-area: discount; }

.top-products { grid-area: top; }

.category-in-evidence { grid-area: category; }

.login-now-category-in-evidence-2 { grid-area: evidence-2; gap: 4%!important; }

.discount-products, .category-in-evidence, .login-now-category-in-evidence-2, .top-products {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.discount-products-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
    grid-template-rows: repeat(2, 48%);
    aspect-ratio: 1 / 1;
    width: 100%;
}

.discount-product-item, .top-prod-item {
    background: #FFF;
    list-style-type: none;
    border-radius: 15px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.products-discount-img, .products-img {
    max-width: 91%;
    max-height: 91%;
    aspect-ratio: unset;
}

.top-prod-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-areas:
        "a b"
        "c c";
    gap: 4%;
    grid-template-columns: 48% 48%;
    grid-template-rows: repeat(2, 48%);
    aspect-ratio: 1 / 1;
    width: 100%;
}

.top-prod-item:nth-child(1) { grid-area: a; }

.top-prod-item:nth-child(3) { grid-area: b; }

.top-prod-item:nth-child(3) { grid-area: c; aspect-ratio: 2 / 1; }

.category-in-evidence-img {
    background-image: url(../../../../assets/categories/informatica.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.category-in-evidence-img-2 {
    background-image: url(../../../../assets/categories/gift-cards.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.login-now-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border-radius: 15px;
}

.login-now-title {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    #user-recommended {
        grid-template-areas:
            "discount top"
            "category evidence-2";
        grid-template-columns: 49% 49%;
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2%;
        row-gap: 6%;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 800px) {
    .login-now-container {
        padding: 5px;
        gap: 5px;
    }

    .login-now-button {
        padding: 0;
        background: none;
        color: var(--clr-secondary);
    }

    .login-now-title {
        font-weight: 400;
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .login-now-container {
        padding: 5px;
        gap: 5px;
    }

    .login-now-button {
        padding: 0;
        background: none;
        color: var(--clr-secondary);
    }

    .login-now-title {
        font-weight: 400;
        font-size: 14px;
    }
}