<div id="main" 
    (window:resize)="onResize()"
    [ngStyle]="
            toggleMenu == false && isMobile < 1100 ? {'grid-template-areas': navCloseMobile} : 
            toggleMenu == true && isMobile < 1100 ? {'grid-template-areas': navOpenMobile} :
            {'grid-template-areas': navDesktop} ">
    <app-header id="app-header" [toggle]="toggleMenu" (toggleChange)="toggleMenu=$event"></app-header>
    <app-navigation id="app-navigation" [toggle]="toggleMenu"></app-navigation>
    <div class="body-container">
        <div class="body">
            <app-adv-slider></app-adv-slider>
            <app-recommended></app-recommended>
            <app-top-categories-carousel></app-top-categories-carousel>
        </div>
    </div>
</div>