#main {
    display: grid;
    grid-template-columns: 260px 1fr;
}

#app-header {
    grid-area: header;
}

#app-navigation {
    grid-area: nav;
    z-index: 99;
}

.body-container {
    margin: 75px auto 0 auto;
    grid-area: body;
    width: -webkit-fill-available;
}

.body {
    max-width: 1200px;
    padding: 30px;
    width: -webkit-fill-available;
    margin: auto;
    display: grid;
    gap: 30px;
}

.body > * {
    display: grid;
}

@media only screen and (max-width: 1100px) {
    #main {
        grid-template-columns: 1fr;
    }

    .body-container {
        margin: 115px auto 0 auto;
    }

    .body {
        padding: 15px;
    }
}