.logo {
    width: 120px;
}

.logo-link {
    text-align: center;
}

.registration-container {
    display: grid;
    gap: 30px;
    background-color: var(--clr-secondary-background);
    border-radius: 20px;
    width: 350px;
    margin: 50px auto auto auto;
    padding: 30px;
}

.title {
    color: var(--clr-secondary);
    text-align: center;
}

form {
    display: grid;
    gap: 30px;
}

input {
    background-color: var(--clr-background);
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-two-input-same-line {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.form-two-input-same-line > input {
    width: 50%;
}

.login-link {
    text-align: center;
}

.form-policy {
    text-align: center;
}

.form-policy > a {
    font-size: 12px;
}

@media only screen and (max-width: 400px) {
    .registration-container {
        margin: 30px auto auto auto;
        width: auto;
    }
}