<div class="registration-container">
    <a class="logo-link" href="/">
        <img src="../../assets/amazon-logo.png" class="logo">
    </a>
    <h3 class="title">Benvenuto su Amazon</h3>
    <form [formGroup]="registrationForm" (submit)="registration()">
        <div class="form-two-input-same-line">
            <input id="name" type="text" formControlName="name" [(ngModel)]="newUser.name" placeholder="nome">
            <input id="surname" type="text" formControlName="surname" [(ngModel)]="newUser.surname" placeholder="cognome">
        </div>
        <input id="email" type="email" formControlName="email" [(ngModel)]="newUser.email" placeholder="email">
        <input id="phone" type="text" formControlName="phone" [(ngModel)]="newUser.phone" placeholder="telefono">
        <input id="password" type="password" formControlName="password" [(ngModel)]="newUser.password" placeholder="password">
        <span class="checkbox">
            <input type="checkbox"> Salva le mie credenziali
        </span>
        <button [disabled]="!newUser.name || !newUser.surname || !newUser.email || !newUser.phone || !newUser.password"
                [style]="!newUser.name || !newUser.surname || !newUser.email || !newUser.phone || !newUser.password ?
                        {cursor: 'not-allowed', background: '#ff990196'} :
                        {cursor: 'pointer'}"
                type="submit">Registrati</button>
    </form>
    <span class="login-link">
        Possiedi già un acccount? <a href="/login">Accedi ora</a>
    </span>
    <small class="form-policy">Registrandoti dichiari di aver letto i 
        <a>Termini e Condizioni</a> di Amazon
    </small>
</div>