<div [style]="isMobile > 700 ? 
    'background-image: url(' + sliderImages[currentSlider] + ')' : 
    'background-image: url(' + sliderImagesMobile[currentSlider] + ')'" 
 class="slider-wrapper">
 <button class="slider-arrows arrow-left" (click)="decreaseSlider()">
    <i class="fa-light fa-chevron-left fa-lg" style="color: #000000;"></i>
</button>
 <button class="slider-arrows arrow-right" (click)="increaseSlider()" >
    <i class="fa-light fa-chevron-right fa-lg" style="color: #000000;"></i>
 </button>
</div>
