.slider-wrapper {
    height: 300px;
    width: -webkit-fill-available;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;
    display: flex;
}

.slider-arrows {
    background-color: #ffffff47;
    padding: 5px 9px;
    border-radius: 100%;
}

.arrow-left {
    margin-left: 5%;
}

.arrow-right {
    margin-right: 5%;
}

@media only screen and (max-width: 1100px) {

    .slider-wrapper {
        height: 230px;
        background-position-y: initial;
    }
}