/* global styles */
:root {
    --clr-background: #F2F2F4;
    --clr-secondary-background: #FFFFFF;
    --clr-text: #3E4149;
    --clr-primary: #161D26;
    --clr-secondary: #FF9901;
    --clr-link: rgb(0, 125, 253);
    --icon-width: 15px;
    --icon-height: 15px;
}

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: #223040; 
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #3E4149; 
}

::-webkit-scrollbar-track {
    background-color: var(--clr-primary);
}

body {
    margin: 0;
    background-color: var(--clr-background);
}

body, input, button {
    font-family: "Noto Sans", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

span, p, input, a, small, h1, h2, h3, h4, h5, h6 {
    color: var(--clr-text);
}

span, p, input, a, li, button {
    font-size: 15px;
}

small {
    font-size: 12px;
}

input, button {
    border: none;
    border-radius: 10px;
    padding: 10px;
}

input:focus {
    outline: none !important;
    border: 1px solid var(--clr-secondary);
}

button {
    font-weight: bold;
    padding: 10px 45px;
    margin: auto;
    background-color: var(--clr-secondary);
    color: #fff;
}

a {
    color: var(--clr-link);
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

@media only screen and (max-width: 700px) {

    h1 {
        font-size: 19px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 17px;
    }

    h3 {
        font-size: 16px;
    }
}
