nav {
    background-color: var(--clr-primary);
    display: flex;
    width: 200px;
    height: 100%;
    flex-direction: column;
    padding: 30px;
    font-weight: 200;
    position: fixed;
    z-index: -1;
    margin-top: 75px;
    overflow-y: scroll;
}

.categories-title {
    color: #FFF;
    font-weight: bold;
}

nav * {
    color: #FFF;
}

i {
    padding-right: 15px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    margin: 0 0 60px 0;
    padding: 0;
}

.primary-menu {
    z-index: 999;
}

.primary-menu li {
    margin-left: 30px;
}

.secondary-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: bold;
    margin: 30px 0 0 0;
}

.log-out {
    font-weight: bold;
    margin: 90px 0 0 0;
}

@media only screen and (max-width: 1100px) {
    .nav-open {
        display: inline;
        margin-top: 115px;
        z-index: 999;
        background-color: #161d26fa;
        backdrop-filter: blur(8.9px);
        -webkit-backdrop-filter: blur(8.9px);
    }

    .nav-close {
        display: none;
    }

    .secondary-menu {
        margin: 0 0 60px 0;
    }
}