<nav [ngClass]="toggle == false ? 'nav-close' : 'nav-open'">
    <ul class="primary-menu">
        <span class="categories-title">
            <i class="fa-light fa-grid-2" style="color: #ffffff;"></i>Categorie
        </span>
        <li *ngFor="let category of categories">
            <a (click)="updateRating(category)">
                <span>{{
                    category.name
                        .charAt(0)
                        .toUpperCase() + 
                         category.name.slice(1)
                        .toLowerCase()
                        .replaceAll("_", " ")}}
                </span>
            </a>
        </li>
    </ul>
    <ul class="secondary-menu">
        <li><i class="fa-light fa-percent" style="color: #ffffff;"></i>Vendi su amazon</li>
        <li><i class="fa-light fa-question"></i>Aiuto</li>
    </ul>
    <span class="log-out">
        <i class="fa-light fa-right-to-bracket" style="color: #ffffff;"></i>
        <span *ngIf="isUserloggedIn() == false">
            <a href="/login">Accedi</a></span>
        <span *ngIf="isUserloggedIn() == true">
            <a (click)="logoutUser()">Esci</a>
        </span>
    </span>
</nav>